<section class="page">

  <header class="header">

    {{ page.header }}

  </header>

  <div class="navigation">

    {{ page.navigation }}

  </div>

  <div class="hero">

    {{ page.hero }}

  </div>

  <main class="content">

    {{ page.content }}

  </main>

  <footer class="footer">

    {{ page.footer }}

  </footer>

</section>


